<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="schemaName" value="jagjit" />
		<add key="SchemaNamePhasezero" value="phasezero" />
		<add key="SchemaNameLocal" value="jagjit" />
		<add key="SchemaNameBrvpn" value="brvpn" />
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		
		
    <add name="constr" connectionString="Data Source=DEVSVR2;User ID=SATINDER;Password=ss;Unicode=True"/>


    <add name="constr1" connectionString="Data Source=bwwssdb1;User ID=operations;Password=oo274;Unicode=True;Max Pool Size=1000;" />
		<!--defaultRedirect="TransactionPageErrornew.aspx" PageUnderConstruction.aspx<add name="constr" connectionString="Data Source=wwssdb1;User ID=jagjit;Password=jag;Unicode=True" />-->
	</connectionStrings>
	<system.web>
	 <customErrors mode="Off" />
		<httpRuntime maxRequestLength="32768" requestValidationMode="2.0" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
	</system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="http://115.249.129.5:8989/403.aspx" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
